<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Service Page</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'Css/ServPage.css'%}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>

 <body>
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <span class="pageName">Service Page</span>
    <form action="/AddService/">
    <button type="Submit" class="Add btn-outline-warning" id="Add">Add Service</button>
    </form>
    <a class="nav" id="LogOut" href="/LogOut">Log Out</a>
  </nav>

  <div class="container">
   <div class="card-deck">
    {% for i in Service %}
    <div class="card">
    <div class="card-body">
      <h1 class="card-title">{{i.Service_Name}}</h1>
       <p class="card-text">{{i.Service_Description}}</p>
       <div class="btn">
       <form action="/ContactUs/">
       </form>
       </div>
    </div>
  </div>
    {% if forloop.counter|divisibleby:1 and forloop.counter > 0 and not forloop.last %}
    </div>
    <div class="card-deck">
      {% endif %}
      {% endfor %}
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
</html>